.formBody {
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin: 0 auto;
}

.label {
    margin: 0 10px;
}

input {
    margin: 0 5px;
}

.result {
    margin: 50px 10px;
}